@model contasLuz.Models.Conta

<div class="form-horizontal">
    <form action="Create" method="Post">

           <div class="form-group">
            <label>ID</label>
            <input  class="form-control" readonly
                    type="text" name="id">
        </div>

        <div class="form-group">
            <label>Data Leitura</label>
            <input  class="form-control"
                    type="text" name="dataLeitura"/>
        </div>

        <div class="form-group">
            <label>numero Leitura</label>
            <input  class="form-control"
                    type="text" name="numeroLeitura"/>
        </div>

        <div class="form-group">
            <label>kw Gastos</label>
            <input  class="form-control"
                    type="text" name="kwGasto"/>
        </div>

        <div class="form-group">
            <label>valor Pagar</label>
            <input  class="form-control"
                    type="text" name="valorPagar"/>
        </div>

        <div class="form-group">
            <label>data Pagamento</label>
            <input  class="form-control"
                    type="text" name="dataPagamento"/>
        </div>

        <div class="form-group">
            <label>media Consumo</label>
            <input  class="form-control"
                    type="text" name="mediaConsumo"/>
        </div>

        <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>

    </form>
</div>